  <!-- Test {{toyRobot.x}},{{toyRobot.y}},{{toyRobot.direction}} -->
  <h3>Toy Robot</h3>
  <div class="row">
    <div class="col-sm-2">
      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">X</span>
          </div>
          <input type="text"  [(ngModel)]="toyRobot.x" class="form-control" (change)="updateToyRobot()">
        </div>
      </div>
      <div class="col-sm-2">
          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Y</span>
              </div>
              <input type="text" [(ngModel)]="toyRobot.y" class="form-control" (change)="updateToyRobot()">
            </div>
      </div>
          <div class="col-sm-1">
            <label >Direction</label>
          </div>
          <div class="col-sm-3">
              <select class="form-control" [(ngModel)]="toyRobot.direction" (change)="updateToyRobot()">
                  <option *ngFor="let d of directions" [ngValue]="d">
                    {{ d }}
                  </option>
                </select>
          </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="onMove()">Move Toy</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="onLeft()">Turn Left</button>
    </div>
    <div class="col-sm-2">
        <button type="button" class="btn btn-primary" (click)="onRight()">Turn Right</button>
    </div>
  </div>
  
    
